<html>
    <header>
        <title>Welcome</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">

    <body>
     <div class="container">
          <h1> <span class="highlight">MAT</span>base</h1>
        </div>
            <div class = "container3">
              <nav>
                <ul>
                <li class = "list">
                   <a href="/users/logout">Logout</a>
                 </li>
              </ul>
            </nav>
         </div>
           <div class="container2">
              <nav>
                 <ul>
                   <li>
                    <a href="/">login</a>
                    </li>
                         <li>
                          <a href="/register">Register</a></li>
                          </li>
                          <li>
                         <a href="/login">members</a>
                        </li>
                      <li>
                      <a href="/datas">Main Page</a>
                     </li>
                    <li>
                    <a href="/Rdmap">Road Map</a>
                  </li>
                </ul>

              </nav>

           </div>
</header>
