<% include partial.ejs %>

<div id = "container">
</div>
 <div class = "Data1">

	<form action="/datas" method="get">
		<input id = "l1" type="radio" class = "Pr" name="Prname" value = "1" >
		<input id = "l2" type="radio" class = "Pr" name="Prname" value = "2" >
		
		 <button type = "submit" class = "insert">Select</button>
		
	 </form>
</div>
</body>

</html>
