<html>
<head>
<title>MATbase </title>
<link rel="stylesheet" type = "text/css" href="/css/main.css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<header>
<div class="container">
<div id = "branding">
<h1> <span class="highlight">MAT</span>base</h1>
</div>
</header>




<div class="container1">
<form action = "/pass" method = "post">
<h3 class = "h33" >Your account!</h3>
<input class = "in" type="text" Name = "username" placeholder="User name" ><br>
<input class = "in" type="password" Name = "password" placeholder="Password"><br>
<button type="submit" class="button_1">ok!</button>
</form>
</div>
</body>

</html>
