
 
         <% include partial.ejs %>

    
         <body>
     <section>  
     
              
     <div class="container9">
         
         <span class="highlight2">Welcome to </span><span class="highlight1">MAT</span><span class = "highlight5">base</span><Span class = "highlight4"></Span> <span class = "highlight3">v-17</span>
     
         
            
         <h4>Matbase is a Webapp which is designed to facilitate access control of the day to day work execution of Earthwork and Pavement activity records of highway projects.<br> It is built on a database platform which enables the storing and retrieving of construction records easier and faster enough than the usual and common filing systems. This program is priorily designed to assist the Pavement/Materials engineer in his early daily construction managment decisions in approving or disapproving activity executions.<br>In addition, the application provides services via internet or intranet at any time and locations using your electronic devises such as Tablets and IPads. </h4><br>
         
     
         <h5>Developed and designed by Yadessa Dinsa(MSc, ME, REng), January 2018.</h5>
     
         <h5>E-mail:yadessadinsa@gmail.com, Phone:+25678739148 or +251921945294.</h5>
     
         <a id = "loog" href="/datas">START</a>
        <script>
     
         document.getElementById('loog') = 'red'
        </script>
         
                   
         
     
        
             
         
     </div>
     </section>
     </div>
     <script src = "js/jquery.min.js"></script>;
     <script src = "javascripts/bootstrap.js"></script>
     
     <script>
             var logtag = document.querySelector("#log")
             var regtag = document.querySelector("#reg")
             var homtag = document.querySelector("#hom")
             var dattag = document.querySelector("#dat")
             var instag = document.querySelector("#ins")
             var abttag = document.querySelector("#abt")
             var loogtag = document.querySelector("#loog")
         
         
             logtag.classList.remove("selected");
             regtag.classList.remove("selected");
             homtag.classList.remove("selected");
             dattag.classList.remove("selected");
             instag.classList.remove("selected");
             abttag.classList.add("selected");
             loogtag.classList.remove("selected");	
         </script>
     
     </body>
     </html>
     <%include footer.ejs%>
     