<html>
  <header>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Abeni -->
        
        <meta name="google-site-verification" content="C28VEsXP1_CiINACtWj4K9YMK11cG1_Ac-BFo7f48g4" />
  
        <title>Sign in to Yadessa-MATbase</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/media.css">
      </head>    
    <body>
      
     <div class="container head">
          <h1> <span class="highlight">MAT</span>base</h1>
        </div>
            <div class = "container3">
              <nav>
                <ul>
                
                  <li>
                   <a id = "loog" href="/logout">Logout</a>
                 </li>
              </ul>
            </nav>
         </div>
           <div class="container2">
              <nav>
                 <ul>
                  
                  <li>
                    <a id ="log" href="/login">login</a>
                    </li>
                         <li>
                          <a id ="reg" href="/register">r </a>
                          </li>
                      
                        <li>
                         <a id ="hom" class = "" href="/">home</a>
                        </li>
                        <li>
                          <a id ="hom" href="/datas2">Plan</a>
                        </li>
                        <li>
                            <!-- <select id = "Proj" name = "Prname">
                                <option value = "">project</option>
                                <option value = "Kampala">Kampala</option>
                                <option value = "Ruwanda">Ruwanda</option>
                                <option value = "Zambia">Zambia</option>
                                </select> -->
                               
                         
                      <a id ="dat" href="/datas">Members</a>
                     </li>
                       
                    <li>
                    <a id ="ins" href="/Instdatas">Records</a>
                  </li>
                  <li>
                    <a id ="abt" href="/about">about</a>
                  </li>
                </ul>

              </nav>
           

           </div>
 </nav>
  </header>
  <script type = "text/javascript" src = "/js/bootsrtap.js"></script>
          
   