<html>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Abeni -->
        <title>Welcome MATbase</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/media.css">
        <!-- <script type = "text/javascript" src = "/js/bootsrtap.js"></script> -->
        
    <body>
     <div class="container head">
          <h1> <span class="highlight">MAT</span>base</h1>
        </div>
            <div class = "container3">
              <nav>
                <ul>
                
                  <li>
                   <a id = "loog" href="/logout"></a>
                 </li>
              </ul>
            </nav>
         </div>
           <div class="container2">
              <nav>
                 <ul>
                  
                  <li>
                    <a id ="log" href="/login">login</a>
                    </li>
                         <li>
                          <a id ="reg" href="/register">R</a></li>
                          </li>
                      
                        <li>
                         <a id ="hom" class = "selected" href="/">home</a>
                        </li>
                           <li>
                              <a id ="dat"  href="/datas2">Plan</a>
                            </li>

                        <li>
                      <a id ="dat" href="/datas">Members</a>
                     </li>
                       
                    <li>
                    <a id ="ins" href="/Instdatas">Records</a>
                  </li>
                  <li>
                    <a id ="abt" href="/about">about</a>
                  </li>
                </ul>


              </nav>

           </div>
 </nav>
</header>
          
   